/*
 * Created by lintao on 2023/7/27 上午10:04
 * Copyright © 2020-2023 LINTAO. All rights reserved.
 *
 */

package cmd

import (
	"context"
	"log/slog"

	"{{.ModulePath}}/internal/configs"
	"{{.ModulePath}}/internal/infra"
	"{{.ModulePath}}/internal/infra/persistence"
	"{{.ModulePath}}/internal/pkg/utils"
	"{{.ModulePath}}/internal/shared/infra/log"
	"{{.ModulePath}}/internal/shared/infra/server"

	"go.uber.org/fx"
)

func Run(cfg string) {
	fx.New(
		fx.Module("config", fx.Provide(func() (configs.Config, *configs.Store) {
			merged, store := configs.Bootstrap(cfg)
			return merged, store
		})),
		fx.Module("log", fx.Provide(func(cfg configs.Config) log.Logger {
			return log.NewLogger(cfg)
		})),
		fx.Module("data", persistence.Model, utils.CasbinModule),

		// DDD架构模块
		fx.Module("infra", infra.InfraModule),
		// 在这里添加你的限界上下文模块
		// fx.Module("user", user.UserModule),
		
		fx.Module("server",
			fx.Provide(server.NewEchoServer),
			fx.Provide(server.NewRateLimiter),
		),
		fx.Invoke(func(lifecycle fx.Lifecycle, s *server.EchoServer, cfg configs.Config, logger log.Logger) {
			// 测试日志输出
			logger.Info("Application starting", slog.String("port", cfg.System.Port))

			lifecycle.Append(
				fx.Hook{
					OnStart: func(context.Context) error {
						logger.Info("Server starting", slog.String("port", cfg.System.Port))
						go s.Run(cfg.System.Port)
						return nil
					},
					OnStop: func(context.Context) error {
						logger.Info("Server stopping")
						return nil
					},
				})
		}),
	).Run()
}
