run:
  timeout: 5m
  modules-download-mode: readonly

linters:
  enable:
    - gofmt
    - goimports
    - govet
    - errcheck
    - staticcheck
    - unused
    - gosimple
    - ineffassign
    - typecheck
    - gosec
    - goconst
    - misspell
    - lll
    - gocritic
    - gocyclo
    - gofumpt

linters-settings:
  gocyclo:
    min-complexity: 15
  lll:
    line-length: 120
  gocritic:
    enabled-tags:
      - diagnostic
      - style
      - performance
  gosec:
    excludes:
      - G204
      - G304

issues:
  exclude-rules:
    - path: _test\.go
      linters:
        - gomnd
        - goconst
